.git
.gitignore
.pytest_cache
__pycache__
*/__pycache__
*/*/__pycache__
tests/
notebooks/
data/database.db
data/uploads/*
!data/uploads/.gitkeep
data/dataset/
*.pyc
*.pyo
*.pyd
.env
.venv
venv/
.vscode
.idea
